@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Press+Start+2P&display=swap');
@import "tailwindcss";
:root {
  --foreground: #000;
  --primary-color: #00ffff;
  --secondary-color: #ff00ff;
}

@theme inline {

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: .4em;
}

::-webkit-scrollbar-track {
  background: var(--foreground);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

body {
  overflow: hidden;
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.fira-code{
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 500;
  font-style: normal;

}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


/* Neon Title */
.neon-title {
  text-shadow:
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 20px #00ffff,
    0 0 40px #00ffff;
}

/* Neon Button */
.neon-button {
  box-shadow:
    0 0 10px #00ffff,
    0 0 20px #00ffff,
    0 0 30px #00ffff;
}

.neon-button:hover {
  box-shadow:
    0 0 20px #00ffff,
    0 0 40px #00ffff,
    0 0 60px #00ffff;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  margin: 0;
}


.central {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  box-shadow: 0.5em 1em 1em blueviolet,
    -0.5em 0.5em 1em blue,
    0.5em -0.5em 1em purple,
    -0.5em -0.5em 1em cyan;
}

.external-shadow {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0.5em 0.5em 3em blueviolet,
    -0.5em 0.5em 3em blue,
    0.5em -0.5em 3em purple,
    -0.5em -0.5em 3em cyan;
  z-index: 999;
  animation: rotate 3s linear infinite;
  background-color: #212121;
}

.intern {
  position: absolute;
  color: white;
  z-index: 9999;
}

.intern::before {
  content: "";
  animation: percent 2s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 2rem;
}

.loading-text {
  animation: pulse 1.5s infinite;
}

.dot {
  font-weight: bold;
  animation: blink 1.5s infinite;
}

.dot1 {
  animation-delay: 0.2s;
}

.dot2 {
  animation-delay: 0.4s;
}

.dot3 {
  animation-delay: 0.6s;
}


@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}


@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
